.header {
    background-color: gray;
    height: 80px;
}

.header-container {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.header-heading {
    font-size: 28px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.menu-button {
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

