.main-page-container {
    margin-top: 25px;
    margin-bottom: 25px;
    height: auto; /* Изменено на автоматическую высоту */
    display: flex; /* Добавлено свойство flex */
    flex-wrap: wrap; /* Добавлено свойство flex-wrap */
    justify-content: space-around; /* Добавлено для центрирования элементов */
}

/* CSS для изображений */
.main-page-container img {
    max-width: 300px; /* Примерное ограничение размера в 200px */
    max-height: 300px; /* Примерное ограничение высоты в 200px */
    margin: 10px; /* Добавлено для создания промежутков между изображениями */
    transition: transform 0.3s ease; /* Плавный переход при изменении масштаба */
}

/* Эффект увеличения при наведении */
.main-page-container img:hover {
    transform: scale(1.1); /* Увеличение масштаба на 10% */
}

/* Остальные стили остаются без изменений */
.info-container {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
}

.info-text {
    font-size: 18px;
    font-weight: 600;
}

.other-info-text {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}
