.eggs-page-container {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 780px;
}

.eggs-title {
    margin-bottom: 45px;
    font-size: 26px;
    font-weight: 600;
}

.eggs-button {
    margin-right: 10px;
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
}

.password-field {
    display: flex;
}

.password-error {
    padding-left: 20px;
    color: red;
    font-size: 18px;
    font-weight: 600;
}